#search-bar-container {
    margin: 1rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#search-bar {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: .8rem 1.1rem;
    border-radius: 5rem;
    border: solid 1px var(--light-grey);
    background: white;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
}

#search-bar:focus {
    outline: solid 1px black;
}

.checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-weight: bold;
    font-size: 1.125rem;
    padding: 1rem 0;
}

label > img {
    width: 16px;
    aspect-ratio: 1;
    rotate: 180deg;
    transition: rotate 90ms ease-out;
}

#results > ul {
    padding: 1rem;
    padding-top: 0;
}

#unloaded {
    padding: 1rem;
}

#results > ul {
    list-style: none;
}

.map {
    height: 300px;
    overflow: hidden;
    aspect-ratio: 1;
    margin: 1rem auto;
}

.class-toggle {
    display: none;
}

.class-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 0;
    cursor: pointer;
}

.class-label > div {
    width: 80%;
}

.class-label-id {
    color: var(--kinda-dark-red);
    font-weight: bold;
    font-size: 1.35rem;
    letter-spacing: .15px;
}

.class-label-name {
    font-weight: 300;
    color: var(--darker-grey);
}

.class > div > hr {
    margin-bottom: 1rem;
}

.class-toggle:checked ~ div {
    display: block;
}

.class-toggle:checked ~ .class-label > img {
    rotate: 0deg;
}


#results > ul > li > label {
    height: 145px;
}

.class {
    max-height: 145px;
}

.class-toggled {
    max-height: 9001px; 
}


.course-profile {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 1rem;
    padding-top: 0;
}

.course-profile-header {
    font-weight: 600;
    font-size: 1.1rem;
}

.course-credits {
    font-size: 1rem;
    font-weight: 300;
    color: var(--darker-grey);
}

.course-description {
    font-weight: 300;
    color: var(--darker-grey);
}

.course-section-number {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.course-sections {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-grey);
    border-radius: 3px;
    max-height: 600px;
    overflow: scroll;
}

.course-sections > div {
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-weight: 300;
    padding: .85rem;
}

.course-sections > div:nth-child(odd) {
    background: var(--light-grey);
}

.course-section > div {
    padding-left: .5rem;
}


.actual-section-number {
    font-weight: bold;
    font-size: 1.1rem;
}

#top-header {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1rem;
}

.course-profile-container {
    position: relative;
    display: flex;
    flex-direction: row;
    border-bottom: solid var(--lighter-grey) 1px;
}

.course-profile-restrictions, .course-profile-label {
    display: none;
}

@media screen and (min-width: 700px) {
    #results > ul {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }

    #results > ul > * {
        width: calc(100%/2 - 6px)
    }

    .course-profile-label {
        display: inline-block;
        font-size: 2rem;
        font-weight: bold;
    }

    .course-profile-container {
        z-index: 7;
        border-top: solid 2px white;
        width: calc(200% + 6px);
        max-width: calc(200% + 6px);
    }
    
    .course-sections {
        max-height: 400px;
    }

    .course-profile-restrictions {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--light-grey);
        border-radius: 3px;
        padding: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    #results > ul {
        grid-template-columns: repeat(3, 1fr);
    }
}
