
/* split this up to make it easier to digest */

#search-bar {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: .5rem 1rem;
    border-radius: 6px;
    border: solid 1px black;
    margin: 1rem;
}

.form-container > input {
    display: none;
}

.form-container > input:checked ~ .checkbox-label > img {
    rotate: 0deg;
}

.form-container > input:checked ~ div {
    display: grid;
}

.form-container > div {
    display: none;
    grid-template-columns: repeat(4, 1fr); /* creates 4 equal columns */
    grid-gap: 6px;
    padding: 6px;
}

.checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-weight: bold;
    font-size: 1.125rem;
    padding: 1rem 0;
}

label > img {
    width: 16px;
    aspect-ratio: 1;
    rotate: 180deg;
    transition: rotate 90ms ease-out;
}


body > div {
    padding: 0 1rem;
}

#clear-filter-button {
    border: solid 1px black;
    padding: .25rem .5rem;
    margin: 1rem 0;
    border-radius: 6px;
}

#results > ul {
    list-style: none;
}

.map {
    height: 350px;
    aspect-ratio: 1;
    margin: 1rem auto;
}

.class-toggle {
    display: none;
}

.class-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.class-label > div {
    width: 80%;
}

.class-label-id {
    font-weight: bold;
}

.class > div {
    padding: 0 1rem;
}

.class > div > hr {
    margin-bottom: 1rem;
}

.class-toggle:checked ~ div {
    display: block;
}

.class-toggle:checked ~ .class-label > img {
    rotate: 0deg;
}

#loaded {
    margin: 0 auto;
    max-width: 900px;
}

#results > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* creates 4 equal columns */
    grid-gap: 6px;
}

#results > ul > li {
    border: 1px solid black;
}

#results > ul > li > label {
    height: 100px;
}

.class {
    max-height: 100px;
}

.class-toggled {
    /* big number */
    max-height: 9001px; 
}

/* hr {
    display: none;
} */