

#directory {
    padding: 4rem 1rem;
    background: rgba(250,250,250);
}

#directory-head {

}

.hero-section {
    width: 100%;
    margin-top: 1rem;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: 5px;
    align-self: flex-start;
    background: white;
}

.hero-section ul {
    list-style: none;
}

.checkbox-label {
    cursor: pointer;
    padding: 1rem;
    display: block;
}

.checkbox-label > span {
    font-size: 1.3rem;
    font-weight: bold;
}

.hero-section > label {
    height: 50px;
    display: flex;
    align-items: center;
}

/* we don't want checkboxes visible */
.toggle {
    display: none;
}

/* be default, show more is hidden */
.hero-section > div {
    overflow: hidden;
    max-height: 0;
    display: block;
    padding: 0 1rem;
    transition: padding 300ms ease-out, max-height 350ms ease-out;
}

/* when clicked, show more is visible */
.toggle:checked ~ div {
    padding: 1rem;
    padding-top: 0;
    max-height: 15rem;
}