#hero {
    position: relative;
    height: 700px;
    background:
        linear-gradient(217deg, #fd8b8b, transparent 70.71%),           
        linear-gradient(127deg, #fce29b, transparent 70.71%),
        linear-gradient(336deg, #fd8b8b, transparent 70.71%);
    color: var(--black);
    padding-top: 80px;
}

/* mobile first always */
#mobile-hero {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
}

#mobile-hero > h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
}

#mobile-hero > img {
    display: block;
    width: 95%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .5);
}

.register-button {
    /* text-decoration: none; */
    color: var(--black)
}

#left, #right {
    display: none;
}